In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

In [2]:
nifty_500 = pd.read_csv('ind_nifty500list.csv')

In [3]:
nifty_500['Symbol_Yahoo'] = nifty_500['Symbol'].apply(lambda x : '{}.{}'.format(x,'NS'))

In [4]:
nifty_500.head()

,Company Name,Industry,Symbol,Series,ISIN Code,Symbol_Yahoo
0,3M India Ltd.,SERVICES,3MINDIA,EQ,INE470A01017,3MINDIA.NS
1,ACC Ltd.,CEMENT & CEMENT PRODUCTS,ACC,EQ,INE012A01025,ACC.NS
2,AIA Engineering Ltd.,INDUSTRIAL MANUFACTURING,AIAENG,EQ,INE212H01026,AIAENG.NS
3,APL Apollo Tubes Ltd.,METALS,APLAPOLLO,EQ,INE702C01019,APLAPOLLO.NS
4,AU Small Finance Bank Ltd.,FINANCIAL SERVICES,AUBANK,EQ,INE949L01017,AUBANK.NS

In [5]:
Industries = list(nifty_500['Industry'].unique())
Industry_code = [i for i in range(1,len(Industries) + 1)]
Industry_dict = dict(zip(Industries,Industry_code))

In [6]:
start = '2015-05-15'
end = '2020-05-16'

In [82]:
z = yf.Ticker("ITC.NS")

In [84]:
z.info

{'zip': '700071',
 'sector': 'Consumer Defensive',
 'fullTimeEmployees': 33305,
 'longBusinessSummary': 'ITC Limited engages in the fast moving consumer goods, hotels, paperboards, paper and packaging, agri, and information technology businesses worldwide. The company primarily offers cigarettes and cigars; staples, spices, biscuits, confectionery and gums, snacks, noodles and pasta, beverages, dairy, ready to eat meals, chocolate, coffee, and frozen foods; personal care products; education and stationery products; safety matches; and incense sticks under various brands. It also retails formals and casual wear products, and other lifestyle products through the Wills Lifestyle stores. In addition, the company offers paper boards and specialty paper products; and packaging products, such as carton board, flexible, and tobacco packaging products, as well as operates approximately 100 hotels under the ITC Hotel, WelcomHotel, Fortune, and WelcomHeritage brands. Further, it exports feed ingredients, food grains, marine products, processed fruits, coffee products, leaf tobacco products, and spices; and offers IT services and solutions. Additionally, the company offers technology services and solutions for the consumer packaged goods, retail, manufacturing, hi-tech, banking, financial services and insurance, healthcare, airline, and hospitality industries. The company also provides property infrastructure and real estate maintenance, business consulting, real estate development, and agro-forestry and other related services; manages and operates golf courses; fabricates and assembles machinery for tube filling, cartoning, wrapping, conveyor solutions, and engineering services; and produces and commercializes seed potato technology products. ITC Limited was incorporated in 1910 and is based in Kolkata, India.',
 'city': 'Kolkata',
 'phone': '91 33 2288 9371',
 'country': 'India',
 'companyOfficers': [],
 'website': 'http://www.itcportal.com',
 'maxAge': 1,
 'address1': 'Virginia House',
 'fax': '91 33 2288 2358',
 'industry': 'Tobacco',
 'address2': '37 Jawaharlal Nehru Road',
 'previousClose': 163.8,
 'regularMarketOpen': 162.2,
 'twoHundredDayAverage': 212.06937,
 'trailingAnnualDividendYield': 0.035103783,
 'payoutRatio': 0.4721,
 'volume24Hr': None,
 'regularMarketDayHigh': 165.5,
 'navPrice': None,
 'averageDailyVolume10Day': 20667452,
 'totalAssets': None,
 'regularMarketPreviousClose': 163.8,
 'fiftyDayAverage': 175.38333,
 'trailingAnnualDividendRate': 5.75,
 'open': 162.2,
 'toCurrency': None,
 'averageVolume10days': 20667452,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 5.75,
 'exDividendDate': 1558483200,
 'beta': 0.50078,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 161.15,
 'priceHint': 2,
 'currency': 'INR',
 'trailingPE': 13.5169525,
 'regularMarketVolume': 14950688,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2023910670336,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28882438,
 'priceToSalesTrailing12Months': 4.0049214,
 'dayLow': 161.15,
 'ask': 164.65,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 14950688,
 'fiftyTwoWeekHigh': 310,
 'forwardPE': 14.545053,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.93,
 'fiftyTwoWeekLow': 134.6,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.035099998,
 'bidSize': 0,
 'dayHigh': 165.5,
 'exchange': 'NSI',
 'shortName': 'ITC',
 'longName': 'ITC Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'ITC.NS',
 'messageBoardId': 'finmb_878153',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 3.487,
 'beta3Year': None,
 'profitMargins': 0.29652,
 'enterpriseToEbitda': 9.004,
 '52WeekChange': -0.4664495,
 'morningStarRiskRating': None,
 'forwardEps': 11.32,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 12292200448,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 47.566,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1553990400,
 'heldPercentInstitutions': None,
 'netIncomeToCommon': 149848195072,
 'trailingEps': 12.181,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.0082633495,
 'priceToBook': 3.461506,
 'heldPercentInsiders': None,
 'nextFiscalYearEnd': 1617148800,
 'mostRecentQuarter': 1577750400,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 8436611228,
 'enterpriseValue': 1761952923648,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1467331200,
 'lastSplitFactor': '3:2',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.291,
 'dateShortInterest': None,
 'pegRatio': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 162.2,
 'logo_url': 'https://logo.clearbit.com/itcportal.com'}

In [8]:
z = z.history(start = start,end = end)

In [18]:
list(z.loc['2015-11-10'].values)

[209.65, 212.26, 206.17, 207.16, 7228746.0, 0.0, 0.0]

In [19]:
list(z.loc['2019-02-12'].values)

[271.84, 275.23, 269.44, 270.13, 7341352.0, 0.0, 0.0]

In [20]:
list(z.loc['2019-03-28'].values)

[288.57, 296.32, 287.49, 294.36, 17752380.0, 0.0, 0.0]

In [25]:
z.shape

(1230, 7)

In [64]:
index = [pd.Timestamp('2015-11-11'),pd.Timestamp('2019-02-13'),pd.Timestamp('2019-03-29')]

In [73]:
sectors = []

for symbol in nifty_500['Symbol_Yahoo'].values :
    
    ticker = yf.Ticker(symbol)
    df = ticker.history(start = start,end = end,actions = False)
    
    df.columns = ['open','high','low','close','volume']
    
    if df.shape[0] == z.shape[0] :
        
        temp = []
        
        sector = nifty_500[nifty_500['Symbol_Yahoo'] == symbol]['Industry'].values[0]
        sectors.append(Industry_dict[sector])
        
        temp.append(list(df.loc['2015-11-10'].values))
        temp.append(list(df.loc['2019-02-12'].values))
        temp.append(list(df.loc['2019-03-28'].values))
        temp_df = pd.DataFrame(temp,index = index,columns = df.columns)
        
        df = pd.concat([df,temp_df])
        
        df = df.sort_index(axis = 0) 
        
        df.to_csv('data/daily/{}.csv'.format(symbol))

sectors = np.array(sectors)        
np.save('data.npy',sectors)

In [67]:
df.tail()

               open     high      low    close   volume  dividend  split
2020-05-14   438.60   441.00   430.15   432.35  10607.0       0.0    0.0
2020-05-15   434.00   440.55   420.00   426.35  43179.0       0.0    0.0
2015-11-11  1301.55  1316.43  1268.48  1278.23  18739.0       0.0    0.0
2019-02-13  1021.44  1021.44   976.02   980.95   9443.0       0.0    0.0
2019-03-29  1133.38  1148.97  1130.50  1144.29  30525.0       0.0    0.0